@import url(//fonts.googleapis.com/css?family=Bebas+Neue);

* {
    box-sizing: border-box;
    background-color: brown;
    font-family: Bebas Neue;

}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


.container-left {

    height: 900px;
    /* flex-grow: 1.1; */
    min-width: 400px;
    flex-basis: 55%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-right {

    height: 900px;
    /* flex-grow: 1; */
    min-width: 300px;
    flex-basis: 45%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main-heading {
    flex-basis: 15%;
    width: 80%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.main-content-area {
    flex-basis: 50%;
    width: 80%;
    background-color: rgb(172, 103, 20);
}

.main-footer {
    flex-basis: 15%;
    width: 80%;
    background-color: rgb(62, 199, 142);
    display: flex;
    flex-direction: row;

}


.sidebar {

    background-color: transparent;
    height: 618px !important;
    width: 504px !important;
    border: 60px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.logo-box {
    height: 200px;
    flex-basis: 35%;
    background-color: blue;

}

.title-box {
    height: 200px;
    flex-basis: 65%;
    font-size: 6em;
    background-color: transparent;

}


.content-box {}

.footer-left-box {
    height: 200px;
    flex-basis: 50%;
    background-color: blue;
}

.footer-right-box {
    height: 200px;
    flex-basis: 50%;
    background-color: rgb(4, 163, 38);
}

.sidebar-main {
    height: 240px;
    width: 240px;
    background-color: transparent;
    border: 40px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer {
    display: flex;
    flex-direction: row;
    background-color: transparent;

}

.sidebar-main-content {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 20px solid #ffffff;

}

.sidebar-footer-left {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 20px solid #3256A1;
    margin-right: 20px;
}

.sidebar-footer-right {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 20px solid #ffffff;
    margin-left: 20px;

}